<section class="site-user-profile">
    <div class="site-user-profile-inner">

        <div class="mark6-profile-element-sidebar" *ngIf="resMinDesktop.matches">
            <mark6-editable-image [editMode]="true" [uploadProgress]="53">
                <mark6-image [src]="user.avatarURL" [alt]="user.displayName"></mark6-image>
            </mark6-editable-image>

            <h1>UserNaame
                <span>@profileUrlName</span>
            </h1>

            <div class="mark6-profile-element-menu">
                <ul>
                    <li>Dashboard</li>
                    <li>About</li>
                    <li>Blogs</li>
                    <li class="divider"></li>
                    <li>Watchlist</li>
                    <li>etc...</li>
                </ul>
            </div>
        </div>

        <section class="main-content">

            <mark6-editable-image [editMode]="true">
                <mark6-image [src]="user.coverURL" [width]="'2'" [height]="'1'" [alt]="user.displayName + '`s Profile Cover'"></mark6-image>
            </mark6-editable-image>

        </section>

    </div>
</section>
