<mark6-drop-down positionY="bottom" positionX="left">

    <mark6-drop-down-trigger>
        <button mat-button>Trigger</button>
    </mark6-drop-down-trigger>

    <mark6-drop-down-content>
        <mat-card>
            <mat-nav-list>

                <h3 mat-subheader>Demo title</h3>
                <ng-container *ngFor="let demo of demoEntries">
                    <mat-list-item>
                        <h4 mat-line>{{demo.title}}</h4>
                    </mat-list-item>
                </ng-container>

            </mat-nav-list>
        </mat-card>
    </mark6-drop-down-content>

</mark6-drop-down>
